@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    list-style-type: none;
  }
  
  li:hover {
    list-style-type: disc;
    list-style: inside;
  }


/* Custom slider */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 0; 
  height: 0;
}

.custom-slider::-moz-range-thumb {
  appearance: none;
  width: 0;
  height: 0;
}

.custom-slider::-ms-thumb {
  width: 0;
  height: 0;
}

  
  